<%= render 'application/nav_bar' %>

<h1>Your Stores</h1>

<%= form_with url: inventory_search_path, method: :get, local:true do %>
    <p>Search your stores: <%= text_field_tag(:name, params[:search]) %></p>
    <%= hidden_field_tag :user_id, session[:user_id] %>
    <%= submit_tag "Search" %>
    <% end %>
    <br>

<%= link_to "Add a store", new_store_path %>


<hr>
<% @stores.each do |s| %>
 <%=link_to s.name, store_path(s)%>
 <br>
 <hr>
<% end %>

