<div class= "show">
<%= render 'application/nav_bar' %>
<h1>Your stores</h1>

<%= form_with url: inventory_search_path, method: :get, local:true do %>
    <p>Search stores: <%= text_field_tag(:name, params[:search]) %></p>
    <%= hidden_field_tag :user_id, session[:user_id] %>
    <%= submit_tag "Search" %>
    <% end %>
    <br>
    
<strong> Results: </strong>
<br>
<br>

<% @search_results.each do |result| %>
    <%= link_to result.name, store_path(result) %>
    <br>
    <% end %>
</div>