<%= render 'application/nav_bar' %>

<div style= "color: white"><h1><%= @store.name %>'s inventory </h1></div>
<% if session[:user_id] == @store.user_id %>
    <%= render 'inventory_option' %>
<% else %>
    <% if !@store_drinks.empty? %>
        <% @store_drinks.each do |sd| %>
            <div style= "color: white"><p>Brand: <%= sd.drink.name %></p></div>
            <div style= "color: white"><p>Price: <%= sd.drink.price %></p></div>
            <hr>
            <br>
        <% end %>
    <% else %>
        <div style= "color: white"><%= "#{@store.name} has no inventory" %></div>
        <br>
    <% end %>
<% end %>

<br>
<div style= "color: white"><%= link_to "Back to stores", stores_path %></div>

