<%= render 'application/nav_bar' %>
<h1>Stores</h1>

<%= form_with url: store_search_path, method: :get, local:true do %>
    <p>Search stores: <%= text_field_tag(:name, params[:search]) %></p>
    <%= submit_tag "Search" %>
    <% end %>
    <br>
    
<strong> Results: </strong>
<br>
<br>

    <div class="card-container">
    <% @search_results.each do |result| %>

  <div class="card" style="width: 18rem; display: inline-block; background-image: url(<%=result.image%>);">
    <div class="card-body">
      <h5 class="card-title"><%= link_to result.name, store_path(result) %></h5> 
    </div>
  </div>

   <% end %>
</div>
  
</div>
