<h1> Welcome home! </h1>

<%= render 'nav_bar' %>

<%= form_with url: drink_search_path, method: :get, local:true do %>
    <p>Search drinks: <%= text_field_tag(:name, params[:search]) %></p>
    <%= submit_tag "Search" %>
    <% end %>
    <br>

<hr>
<br>
<%= "All Drinks" %>
<br>
<hr>
<% @drinks.each do |s| %>
 <%=link_to s.name, drink_path(s)%>
 <br>
 <hr>
<% end %>

