<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap" rel="stylesheet">
    <title>LQR2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
  <div class = "container" > 
  <div class ="box"> <div class="logo" style = "color:white; font-family: 'Petit Formal Script', cursive;"> LQR </div>
  <% if loggedin? %>
    <div class="login"><%= link_to "Log out", sessions_path, method: :delete %></div>
  <% else %>
    <div class="login"><%= link_to "Login", login_path %></div>
  <% end %>
  </div>
  <br>
    <%= yield %>
  </div>
    </body>
</html>
